/* Общий стиль для таблиц */
.table-container {
  width: 277mm; /* Ширина таблицы */
  border-collapse: collapse;
  margin-bottom: 20px; /* Отступ между таблицами */
}

.table-container th, .table-container td {
  border: 1px solid #000;
  padding: 5px;
  text-align: left;
}

/* Задаем фиксированную ширину для каждого столбца */
.col-1 { width: 30.2mm; }
.col-2 { width: 57.5mm; }
.col-3 { width: 55.8mm; }
.col-4 { width: 7.4mm; }
.col-5 { width: 60.3mm; }
.col-6 { width: 20.8mm; }
.col-7 { width: 21.6mm; }
.col-8 { width: 23.4mm; }
